<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="request-time" fileName="E:\Inżynierka\AnimalApiLogs\request-time.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"/>
    
    <target xsi:type="File" name="exceptions" fileName="E:\Inżynierka\AnimalApiLogs\nlog-all-exceptions-${shorstdate}.log"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"/>
    
    <target xsi:type="File" name="allfile" fileName="E:\Inżynierka\AnimalApiLogs\nlog-all-${shorstdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Backend.*" minlevel="Error" writeTo="exceptions" />
    <logger name="Backend.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
  </rules>
</nlog>
